[submodule "tinacms"]
	path = packages/tinacms
	url = https://github.com/Chen-Software/tinacms
	branch = dev/main
[submodule "ui-components"]
	path = packages/ui-components
	url = https://github.com/Chen-Software/ui-components
	branch = build/latest
[submodule "design-system"]
	path = packages/design-system
	url = https://github.com/Chen-Software/design-system
